
<div class="horizontal-scroll" ng-controller="WorkersGroupCtrl as mc">
  <div class="panel panel-default">
    <div class="panel-heading">
        Handle Information 
    </div>
    <div class="panel-body">
        <button ng-click="mc.deletebatchitem()">Delete choose item</button>
        <button ui-sref="workers.creategroup()">Create</button>
        <button ng-click="mc.refreshGrid()">Reflash</button>
    </div>
</div>
  <table class="table table-hover" st-pipe="mc.callServer" st-table="mc.displayed" refresh-table>
    <thead>
    <tr class="sortable">
      <th row-select-all="mc.displayed"  selected="mc.selected" ng-click="mc.selectAll(mc.displayed)"></th>
      <th class="table-id">#</th>
      <th st-sort="workersgroup_name">Name</th>
      <th st-sort="workersgroup_quantity">Handle</th>
    </tr>
    <tr><th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th></tr>
    </thead>
    <tbody ng-show="!mc.isLoading">
<tr ng-repeat="row in mc.displayed">
  <td cs-select="row" ng-click="mc.select(row.id)"></td>
    <td>{{$index+1}}</td>
    <td>{{row.name}}</td>
    <td><div class="buttons">
        <a class="btn btn-primary editable-table-button btn-xs" ui-sref="workers.groupdetail({id:row.id})">Edit</a>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="mc.removeitem(row)">Delete</button>
      </div></td>
  </tr>
    
    </tbody>
    <tbody ng-show="mc.isLoading">
  <tr>
    <td colspan="5" class="text-center">Loading ... </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="5">
    </td>
  </tr>
  </tfoot>


  </table>
</div>